.container{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 5vh;


} 
.box{
    display: flex;
    width: 20vw;
    height: auto;
    flex-direction: row;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #fff;
    margin: 0 10px;
}

.photos{
    display: flex;
    flex-direction: column;
    align-items: space-around;
}